In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [3]:
df = pd.read_csv('green_tripdata_2019-09.csv')
df.head(2)

/tmp/ipykernel_2500/1288557305.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.0,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.2,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0

In [3]:
con = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
con.connect()

In [5]:
print(pd.io.sql.get_schema(df,con=con,name="Taxi Table"))

CREATE TABLE "Taxi Table" (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [6]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv',iterator=True,chunksize=100000)
df = next(df_iter)

In [7]:
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
print(pd.io.sql.get_schema(df,con=con,name="Taxi Table"))

CREATE TABLE "Taxi Table" (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [8]:
df.head(n=0).to_sql(name='trip_data_table',con=con,if_exists='replace')

0

In [9]:
df.to_sql(name='trip_data_table',con=con,if_exists='append')

1000

In [10]:
while True:
    try:
        time_start= time()
        df = next(df_iter)
        df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
        df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
        df.to_sql(name='trip_data_table',con=con,if_exists='append')
        time_end = time()
        print('Inserted another chunk... took %.3f second(s)' % (time_end - time_start))
    except:
        print("All data Added!")
        break

Inserted another chunk... took 9.816 second(s)
Inserted another chunk... took 9.899 second(s)

/tmp/ipykernel_2500/3215707454.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk... took 10.514 second(s)

# Adding Tax+Zone Table

In [2]:
df = pd.read_csv('taxi+_zone_lookup.csv')
df.head(2)

   LocationID Borough            Zone service_zone
0           1     EWR  Newark Airport          EWR
1           2  Queens     Jamaica Bay    Boro Zone

In [4]:
df.to_sql('taxi_zone_table',con=con,if_exists='replace')

265